PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/billing_service?schema=public
JWT_SECRET=changeme
MERCADOPAGO_ACCESS_TOKEN=your_mp_access_token_here
APP_URL=http://localhost:3002
NODE_ENV=development

# Saga (SNS/SQS)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
SAGA_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:oficina-saga-events
SAGA_SQS_QUEUE_URL=http://localhost:4566/000000000000/billing-saga-queue
